<div class="footer">
	<h3 class="footer-text">follow for updates:</h3>
	<a rel="me" href="https://indieapps.space/@approach"><img class="footer-icon" src="./assets/images/approach.png" alt="App icon for Approach, the 5 Pin Bowling Companion. A bowling pin in a circle with a purple background" /></a>
	<a rel="me" href="https://iosdev.space/@autoreleasefool"><img class="footer-icon" src="./assets/images/josephroque.png" alt="A headshot of Joseph Roque, developer of Approach" /></a>
	<a href="https://github.com/autoreleasefool/approach"><img class="footer-icon" src="./assets/images/github.png" alt="Icon for the website GitHub. A cat head with an octopus tentacle" /></a>
</div>
