@import url("./normalize.css");

/* Fonts */

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-Black.ttf");
	font-weight: 900;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato-BlackItalic.ttf");
	font-weight: 900;
	font-style: italic;
}

/* Colors */

:root {
	--primary: #8780E0;
	--secondary: #FF9DEF;
	--action: #251C98;
	--background: #fff;
	--text: #000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #FF9DEF;
		--secondary: #FFD34C;
		--action: #8780E0;
		--background: #000;
		--text: #fff;
	}
}

.primary {
	color: var(--primary);
}

.secondary {
	color: var(--secondary);
}

.action {
	color: var(--action);
}

/* Text */

h1, h2, h3, p {
	color: var(--text);
}

.title {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	line-height: 2rem;
}

.subtitle {
	font-family: "Lato", sans-serif;
	font-weight: normal;
	text-align: right;
}

a, .link, .link:visited {
	color: var(--action);
}

p {
	font-family: "Lato", sans-serif;
}

.footer-text {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	text-align: right;
}

.italic {
	font-style: italic;
}

.text-align-right {
	text-align: right;
}

/* Containers */

html, body {
	height: 100%;
	background-color: var(--background);
}

.content {
	height: 100%;
	position: relative;
}

.content-wrapper {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 116px;
}

.content-container {
	max-height: 100%;
	max-width: 800px;
	padding-left: 16px;
	padding-right: 16px;
}

.app-stores {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--background);
	max-height: 100px;
	padding: 16px;
}

/* Other */

.footer-icon {
	width: 48px;
	height: 48px;
	margin-left: 16px;
}

.app-stores .image {
	height: 44px;
}


@media screen and (max-width: 480px) {
	.footer-icon {
		width: 32px;
		height: 32px;
	}
}